
<div class="screen-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <b>破豆</b>的世界
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form name="login">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.data.username">
          <i class="fa fa-user form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.data.password">
          <i class="fa fa-key form-control-feedback"></i>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button class="btn btn-primary btn-block btn-flat" ng-click="ctrl.login()">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!--
      <div class="social-auth-links text-center">
        <p>- OR -</p>
        <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
          Facebook</a>
        <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
          Google+</a>
      </div>
      -->
      <!-- /.social-auth-links -->

      <!--<a href="#">I forgot my password</a><br>-->
      <a ui-sref="main.auth.register" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>
