<!-- <section class="content" ng-controller="FormsTextController as ctrl"> -->
<section class="content">
<!--s
  <span>Text: {{text}}</span>
  <input class="form-control" ng-model="text" />
  <span>Message: {{ctrl.message}}</span>
  <input class="form-control" ng-model="ctrl.message" />

  <button class="btn btn-success" ng-click="ctrl.clickBtn()">Click Me</button>
  <button class="btn btn-success" ng-click="ctrl.clickSubmit()">Submit Me</button>
  <br>
  <button ng-show="ctrl.divswitch" class="btn btn-success">Submit1</button>
  <button ng-hide="ctrl.divswitch" class="btn btn-success">Submit2</button>
  <button ng-if="ctrl.divswitch" class="btn btn-success">Submit3</button>
  <br>
  <div ng-repeat="item in ctrl.li">
    {{item}}
    <input class="form-control" ng-model="item" /><br>
  </div>-->
  <!-- <alert type="success" title="Message" content="'This is danger message.'"> -->
    <span>{{name2}}</span><br>
  <message-input title="test message" message-text="ctrl.val"></message-input>
  <form>
    <!--ng-show="ctrl.isYes"-->
  <input type="checkbox" class="form-contol" ng-model="ctrl.isYes" ng-change="ctrl.isShow()"/>
  <input type="textbox" class="form-control" ng-model="ctrl.val" />
  <button ng-class="{'btn-danger': ctrl.val==1, 'btn-primary': ctrl.val==2}"
   class="btn">Submit3</button>

  </form>
  <msg-tip title="tip msg" tip-test="ctrl.val"></msg-tip>

  <textarea class="form-control"></textarea>
</section>
